name: navbar_router
description: A flutter package to build advanced bottomnavbar with minimal code and hassle

version: 0.1.2
homepage: https://github.com/maheshmnj/navbar_router

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0